.product{
    border: 1px solid lightgray;
    padding: 20px;
    margin: 20px;
}
.product-name{
    color: seagreen;
    font-weight: 400;
}
.product_details{
    margin-top: 10px;
}
.btn-regular{
    background-color: seagreen;
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
}
img{
    height: 285px;
    width:420px;
    border-radius: 5px;
}
.product-image{
    border-radius: 10px;
}
