.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.password{
    margin-top: 10px;
    margin-bottom: 10px;
}
.new{
    margin-top: 10px;
}
.btn{
    background-color: seagreen;
    color: whitesmoke;
}